<div class="container-flex header_row p-5 mt-3  text-white border-dark">

  <div class="row mb-5">
    <div class="col-1 ">
      <button class="btn btn-dark" type="submit">Search</button>
    </div>
    <div class="col-11 ">
      <input type="text" class="form-control " placeholder="Cerca" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>
  </div>


  <div class="row">
    <div class="col-1">
    </div>

    <div class="col-11">
      <div class="row">
        <div class="col">
          Sprint:
          <select (change)="selectOptionSprint($event.target.value)" [(ngModel)]="selectedSprint" name="selectedSprint">
                            <option selected *ngFor="let sprint of sprints">{{sprint.name}}</option>
          </select>
        </div>

        <div class="col">
          Team:
          <select (change)="selectOptionTeam($event.target.value)" [(ngModel)]="selectedTeam" name="selectedTeam">
                         <option selected *ngFor="let team of teams">{{team.name}}</option>
          </select>
        </div>

        <div class="col">
          Sotto-Team:
          <select (change)="selectOptionSubTeam($event.target.value)" [(ngModel)]="selectedSubTeam" name="selectedSubTeam">
                        <option selected *ngFor="let subTeam of subteams">{{subTeam.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

</div>






<div class="container-flex body_all pt-3 pb-5 pl-5 pr-5 mt-1  text-white border-dark">
  <div class="row bt-1 mt-0">

    <div class="col bg-danger mr-1 col_height text-center">
      <hr>
      <h5 class="font-weight-bold p-1 border-dark"> <i class="fas fa-align-right"></i> TO DO</h5>
      <hr>
      <div class="list-group " style="overflow-y: scroll; max-height: 500px" >
        <app-wokitem *ngFor="let workitem of getToDo()" [workitem]="workitem"
        (onWorkItemClicked)="workItemClicked($event)">
      </app-wokitem>
      </div>
    </div>



    <div class="col bg-warning mr-1 col_height text-center">
      <hr>
      <h5 class="font-weight-bold p-1 border-dark"> <i class="fas fa-hourglass-start"></i> START WORKING</h5>
      <hr>

      <div class="list-group" style="overflow-y: scroll;  max-height: 500px" >
        <app-wokitem *ngFor="let workitem of getStartWorking()" [workitem]="workitem"
        (onWorkItemClicked)="workItemClicked($event)">
      </app-wokitem>
      </div>

    </div>


    <div class="col bg-success mr-1 col_height">
      <hr>
      <h5 class="font-weight-bold p-1 border-dark text-center "> <i class="fas fa-tasks"></i> TEST</h5>
      <hr>

      <div class="list-group" style="overflow-y: scroll; max-height: 500px">

        <app-wokitem *ngFor="let workitem of getTest()" [workitem]="workitem"
        (onWorkItemClicked)="workItemClicked($event)">
      </app-wokitem>

      </div>
    </div>

    <div class="col bg-primary col_height">
      <hr>
      <h5 class="font-weight-bold p-1 border-dar text-center " [class.text-dark]="false"> <i class="fas fa-check"></i> DONE</h5>
      <hr>

      <div class="list-group" style="overflow-y: scroll; max-height: 500px" >

        <app-wokitem *ngFor="let workitem of getDone()" [workitem]="workitem"
          (onWorkItemClicked)="workItemClicked($event)">
        </app-wokitem>

      </div>


    </div>
  </div>



</div>



<br>
<br>
<script>
$('#draggable-scroll').draggable({
  scroll: true,
  scrollSensitivity: 40,
  scrollSpeed: 40
  });
</script>

<div class="row">
  <div class="col-md-4 col-6">
    <div id="draggable-scroll" class="card">
      <h5 class="card-header success-color white-text">Draggable panel</h5>
      <div class="card-body">
        <p class="card-text">Drag me outside container boundary to enable auto-scroll</p>
      </div>
    </div>
  </div>
</div>